__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
dist_new/
dist_dev/
dist_prod/
*.spec
.vscode/
.idea/
*.log
auth.db
instance/
license.json
playwright-browsers/
*.zip
.env
.env.prod
config.json
browser_data/
cookies/
